server:
  port: 9000

spring:
  application:
    name: gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: false  # ?? routing ?? (?? ?? ???, ???? false)
          lower-case-service-id: true
      routes: # ?? routing ??
        - id : module-one
          uri : lb://module-one
          predicates:
            - Path=/modOne/**
        - id : module-two
          uri : lb://module-two
          predicates:
            - Path=/modTwo/**
        - id : module-three
          uri : lb://module-three
          predicates:
            - Path=/modThree/**
      default-filters:
        - AddRequestHeader=X-Gateway, api-gateway

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    org.springframework.cloud.gateway: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: gateway,health,info
  endpoint:
    gateway:
      enabled: true